{% extends "base.html" %}

{% block head %}
	{{ block.super }}
	<link rel="alternate" type="application/rss+xml" title="RSS" href="?rss" />
{% endblock %}

{% block content %}

	<div class="special_links">
		Other formats:
		<a href="?ascii">plain text</a>, 
		<a href="?bibtex">BibTex</a>
	</div>

	<h2>All {{ count }} publications by year

	<form method="GET" action="{% url 'bibtex_search' %}" style="float:right; ">
		<input value="" name="q">
		<input type="submit" value="Search">
	</form>
	</h2>

	
	{% for year, publications in years %}
		<a href="/publications/year/{{ year }}/"><h1>{{ year }}</h1></a>
		<hr/>
		<div{% if not forloop.last %} style="margin-bottom: 30px;"{% endif %}>
		{% for publication in publications %}
			<div{% if not forloop.last %} style="margin-bottom: 20px;"{% endif %}>
				{% include "publications/publication.html" %}
			</div>
		{% endfor %}
		</div>
	{% endfor %}
{% endblock %}
